.linearproccess {
    background-color: #f6f6f7 !important;
    border-radius: 5px;
    padding: 2px;
}

.linearproccess.progress-blue span {
    background-color: #258ff1 !important;
}

.linearproccess.progress-green span {
    background-color: #37cb77 !important;
}

.linearproccess.progress-red span {
    background-color: #fb6065 !important;
}

.linearproccess.progress-orange span {
    background-color: #f9d200 !important;
}

.progress-blue {
    color: #258ff1;
}

.progress-green {
    color: #37cb77;
}

.progress-red {
    color: #fb6065;
}

.progress-orange {
    color: #f9d200;
}

.avatarProgress .MuiAvatar-root.MuiAvatar-circular.MuiAvatar-colorDefault.MuiAvatarGroup-avatar.css-sxh3gq-MuiAvatar-root-MuiAvatarGroup-avatar {
    width: 30px;
    height: 30px;
}