.bg-img-login-1 {
    background-image: url(../../assets/img/grua-login.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* border-radius: 20px 0px 0px 20px; */
    /* background-attachment: fixed; */
}

.bg-img-login-2 {
    background-image: url(../../assets/img/bgcolor-login.png);
    background-size: cover;
    /* border-radius: 0px 20px 20px 0px; */
}

.btn-login {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: #ffad1d solid 1px;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    display: block;
    margin: auto;
    margin-top: 15px;
    outline: none;
}

.autocomplete-input input {
    border: none !important;
}

.input-text-principal {
    background-color: #ffac1e;
    border: 1px solid #272936;
    border-radius: 10px !important;
    color: white;
}

.input-text-principal > div {
    border-radius: 10px !important;
}

.input-text-principal input, .input-text-principal textarea {
    color: white;
    outline: none !important;
    border: #272936 solid 1px;
    border-radius: 10px !important;
}

.input-text-principal textarea {
    resize: none;
    border: none;
    /* scroll thin */
    scrollbar-width: thin;
}

.input-text-principal input:disabled {
    color: white !important;
}

.modal-principal {
    background-color: #272936;
    border: 1px solid white;
    border-radius: 20px;
    padding: 60px 10px !important;
}

.modal-dialog .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthMd.MuiDialog-paperFullWidth.css-rnmm7m-MuiPaper-root-MuiDialog-paper,
.modal-dialog .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthXs.MuiDialog-paperFullWidth.css-twia2z-MuiPaper-root-MuiDialog-paper {
    border-radius: 20px;
}

.modal-principal-title {
    color: #b4d939;
    text-align: center;
    font-weight: bold;
}

.modal-principal-title-error {
    color: #fe0000;
    text-align: center;
    font-weight: bold;
}

.modal-principal-button-success, .modal-principal-button-error, .modal-principal-button-alert {
    background-color: #b0db43 !important;
    color: #272936 !important;
    margin-top: 10px; 
    display: block;
    width: 150px; 
    border-radius: 50px !important;
    text-transform: capitalize !important;
    font-weight: bold !important
}

.modal-principal-button-alert {
    background-color: #ffac1e !important;
    color: #272936 !important;
}

.modal-principal-button-error {
    background-color: #fe0000 !important;
    color: #fff !important;
}

.table-head th {
    font-weight: bold;
    text-align: center;
}

.table-body td {
    text-align: center;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    font-size: 12px !important;
}

.status-blue {
    background-color: #e6f6fe;
    color: #63a2c7;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    font-size: 12px !important;
}

.status-green {
    background-color: #daf5e6;
    color: #67be96;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    font-size: 12px !important;
}

.status-red {
    background-color: #fedfde;
    color: #de6f6f;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    font-size: 12px !important;
}

.status-orange {
    background-color: #f9d200;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    font-size: 12px !important;
}

.status-t2-yellow {
    background-color: #f9d200;
    color: #fff;
    padding: 5px 20px;
    border-radius: 25px;
    display: inline-block;
    font-size: 12px !important;
}

.status-t2-green {
    background-color: #b1dc3d;
    color: #fff;
    padding: 5px 20px;
    border-radius: 25px;
    display: inline-block;
    font-size: 12px !important;
}

.status-t2-red {
    background-color: #fd0306;
    color: #fff;
    padding: 5px 20px;
    border-radius: 25px;
    display: inline-block;
    font-size: 12px !important;
}

#menu-type_work ul, #menu-type_component ul {
    background-color: #272936 !important;
    color: white;
}

.select-input-text-secondary {
    background-color: white;
    font-weight: bold;
}

.select-input-text-secondary.green {
    color: #37cb77;
}

.select-input-text-secondary.red {
    color: #fb6065;
}

.no-border input {
    border: none !important;
}

.text-center input {
    text-align: center;
}